/* Base styling for all elements within the popups-service iframe */
.popups-service_iframe_jkl32 * {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  letter-spacing: 0.025em;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* Anchor tag styling */
.popups-service_iframe_jkl32 a {
  cursor: pointer;
}

/* HTML styling */
.popups-service_iframe_jkl32 html {
  background-color: #f1f5f9;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
  font-size: 107.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Custom scrollbar styling */
.popups-service_iframe_jkl32 ::-webkit-scrollbar-track {
  background-color: #fff;
}

.popups-service_iframe_jkl32 ::-webkit-scrollbar {
  width: 8px;
  background-color: #dededf;
}

.popups-service_iframe_jkl32 ::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  background-clip: padding-box;
  border-radius: 5px;
}